# .ipynb_checkpoints/3.Model-checkpoint.ipynb
# .ipynb_checkpoints/1.Data_explore_and_Clean-checkpoint.ipynb
# .ipynb_checkpoints/1.Data_explore_and_Clean_v02-checkpoint.ipynb
# .ipynb_checkpoints/2.DataSet-checkpoint.ipynb
# .ipynb_checkpoints/Untitled-checkpoint.ipynb
# 3.Model.ipynb
# 2.DataSet.ipynb
# 1.Data_explore_and_Clean_v02.ipynb
# Untitled.ipynb
# 1.Data_explore_and_Clean.ipynb
# t.py
Model