bfg.jar
tensorflow-internals.pdf
2.industrymiddleindustry/Slide/~$MediIndustry.pptx
2.industrymiddleindustry/Slide/MediIndustry.pptx
2.industrymiddleindustry/.ipynb_checkpoints/1.Map News to Industry -checkpoint.ipynb
2.industrymiddleindustry/.ipynb_checkpoints/2.Cleaning&Tokenization-checkpoint.ipynb

2.industrymiddleindustry/.ipynb_checkpoints/3.Build Vocabulary Dictionary-checkpoint.ipynb
2.industrymiddleindustry/.ipynb_checkpoints/4.Vectorization & Industry Dictionary -checkpoint.ipynb
2.industrymiddleindustry/.ipynb_checkpoints/5.BuildDataset & Dataloader-checkpoint.ipynb
2.industrymiddleindustry/.ipynb_checkpoints/6.Model-checkpoint.ipynb
2.industrymiddleindustry/.ipynb_checkpoints/7.Training-checkpoint.ipynb
2.industrymiddleindustry/.ipynb_checkpoints/SampleCode-checkpoint.ipynb
2.industrymiddleindustry/__pycache__/BuildDataset.cpython-35.pyc
2.industrymiddleindustry/__pycache__/Model.cpython-35.pyc
2.industrymiddleindustry/0.Idea.ipynb
2.industrymiddleindustry/.ipynb_checkpoints/0.Idea-checkpoint.ipynb
2.industrymiddleindustry/.ipynb_checkpoints/3. Build tokenizer-checkpoint.ipynb
2.industrymiddleindustry/.ipynb_checkpoints/3.2 Build tokenizer with vip.v05-checkpoint.ipynb
2.industrymiddleindustry/.ipynb_checkpoints/4. Vectorization & Industry Dictionary -checkpoint.ipynb
2.industrymiddleindustry/.ipynb_checkpoints/Sample_Infer-checkpoint.ipynb
2.industrymiddleindustry/.ipynb_checkpoints/Sample_Vectorization-checkpoint.ipynb
2.industrymiddleindustry/.ipynb_checkpoints/4.2 Vectorization & Industry Dictionary  (News_vip.v05)-checkpoint.ipynb
2.industrymiddleindustry/model/__pycache__/Model.cpython-35.pyc
2.industrymiddleindustry/model/.ipynb_checkpoints/Loadmodel-checkpoint.ipynb
2.industrymiddleindustry/model/test_model_state_dict.pth
2.industrymiddleindustry/dict_test_industry_guid.p
2.industrymiddleindustry/dict_train_industry_guid.p
2.industrymiddleindustry/Trainloss.p
2.industrymiddleindustry/.ipynb_checkpoints/4.2 Vectorization & Industry Dictionary  (News_vip.v05)-Sparse 70000-dim-checkpoint.ipynb
2.industrymiddleindustry/.ipynb_checkpoints/4.2-2 Vectorization & Industry Dictionary  (News_vip.v05)-Sparse 20000-dim-checkpoint.ipynb
2.industrymiddleindustry/modelForGpu/20190116_100dims_eval/20190116/TrainLoss.png
2.industrymiddleindustry/modelForGpu/20190116_100dims_eval/20190116/TestLossT.png
2.industrymiddleindustry/modelForGpu/20190116_100dims_eval/20190116/TestLossRP.png
2.industrymiddleindustry/modelForGpu/20190116_100dims_eval/20190116/TestLossRN.png
2.industrymiddleindustry/modelForGpu/20190116_100dims_eval/20190116/TestLossRA.png
2.industrymiddleindustry/modelForGpu/20190116_100dims_eval/20190116/Trainloss.p
2.industrymiddleindustry/modelForGpu/20190116_100dims_eval/20190116/TrainLossT.png
2.industrymiddleindustry/modelForGpu/20190116_100dims_eval/20190116/TrainLossRP.png
2.industrymiddleindustry/modelForGpu/20190116_100dims_eval/20190116/TrainLossRN.png
2.industrymiddleindustry/modelForGpu/20190116_100dims_eval/20190116/TrainLossRA.png
2.industrymiddleindustry/modelForGpu/20190116_500dims_denoising/__pycache__/BuildDataset.cpython-35.pyc
2.industrymiddleindustry/modelForGpu/20190116_500dims_denoising/__pycache__/BuildDataset.cpython-36.pyc
2.industrymiddleindustry/modelForGpu/20190116_500dims_denoising/__pycache__/Model.cpython-35.pyc
2.industrymiddleindustry/modelForGpu/20190116_500dims_denoising/.ipynb_checkpoints/7.Training-checkpoint.ipynb
2.industrymiddleindustry/modelForGpu/20190116_500dims_denoising/__pycache__/Model.cpython-36.pyc
2.industrymiddleindustry/modelForGpu/20190116_500dims_eval/__pycache__/Model.cpython-36.pyc
2.industrymiddleindustry/modelForGpu/20190116_500dims_eval/__pycache__/Model.cpython-35.pyc
2.industrymiddleindustry/modelForGpu/20190117_100dims_denoising/.ipynb_checkpoints/7.Training-checkpoint.ipynb
2.industrymiddleindustry/modelForGpu/20190117_100dims_denoising/__pycache__/Model.cpython-36.pyc
2.industrymiddleindustry/modelForGpu/20190117_100dims_denoising/__pycache__/BuildDataset.cpython-36.pyc
2.industrymiddleindustry/modelForGpu/20190116_500dims_eval/.ipynb_checkpoints/7.Training-checkpoint.ipynb
2.industrymiddleindustry/modelForGpu/20190116_500dims_eval/__pycache__/BuildDataset.cpython-36.pyc
2.industrymiddleindustry/modelForGpu/20190116_500dims_eval/__pycache__/BuildDataset.cpython-35.pyc
2.industrymiddleindustry/modelForTest/test_model_state_dict.pth
2.industrymiddleindustry/modelForTest/__pycache__/Model.cpython-35.pyc
2.industrymiddleindustry/modelForTest/.ipynb_checkpoints/Loadmodel-checkpoint.ipynb
2.industrymiddleindustry/modelForGpu/20190116_500dims_eval/TrainLoss.p
2.industrymiddleindustry/modelForGpu/20190116_500dims_eval/TestLoss.p
2.industrymiddleindustry/modelForGpu/20190116_500dims_denoising/TrainLoss.p
2.industrymiddleindustry/modelForGpu/20190116_500dims_denoising/TestLoss.p
2.industrymiddleindustry/modelForGpu/20190116_500dims_eval/EncoderStat.pt
*.pt
*.png
*.pyc
2.industrymiddleindustry/modelForGpu/20190116_100dims_eval/.ipynb_checkpoints/Untitled1-checkpoint.ipynb
2.industrymiddleindustry/modelForGpu/20190116_100dims_eval/.ipynb_checkpoints/Metrics-checkpoint.ipynb
2.industrymiddleindustry/modelForGpu/20190116_100dims_eval/.ipynb_checkpoints/7.Training-checkpoint.ipynb
2.industrymiddleindustry/.ipynb_checkpoints/8.Plot-checkpoint.ipynb
2.industrymiddleindustry/.ipynb_checkpoints/4.5 Sparse Comparing-checkpoint.ipynb
*.p
2.industrymiddleindustry/.ipynb_checkpoints/
2.industrymiddleindustry/modelForGpu/
1.industry26/Slide/~$SDAE.pptx
2.industrymiddleindustry/Untitled.ipynb
qhoptim-master/
2.industrymiddleindustry/UserRepresentation/config.json
2.industrymiddleindustry/ArticleRepresentation/modelForGpu/
*.ipynb
*.pptx
*.json
2.industrymiddleindustry/UserRepresentation/.spyproject/
2.industrymiddleindustry/UserRepresentation/GPU/
*.jpg
*.pth
*.csv
*.md
2.industrymiddleindustry/0Slide/
*.pdf
*.zip
*.txt
*.exe
2.industrymiddleindustry/a.py
2.industrymiddleindustry/newsengine/
